<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jay.api.mapper.SysRoleMapper">

    <select id="getRole" resultType="java.lang.String">
        SELECT su.id
        FROM sys_role as su
                 left join sys_user_role as sur on
            sur.role_id = su.id
        where sur.user_id = #{ID}
    </select>
</mapper>
